*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
nav{
    height:80px;;
    background-color:black;
    color:white;
    display: flex;
    justify-content: space-around;
    border-bottom:1px solid white ;
    
    
}
.box1{
   margin-top: 20px;
   margin-bottom: 30px;
   font-size: 30px;
}
ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 30px;
    width:600px;
    height:30px;
}
#company{
    color:darkgreen;
}
.section{
    background-color: black;
    height: 570px;
    color :White;
    text-align: center;
    padding: 90px;
    font-size: 80px;

}
#chaintech{
    color:green;
}
p{
    font-size: 15px;
    margin-left: 240px;
    margin-right: 240px;
}
button{
    color:black;
    background-color: aliceblue;
    border-radius: 20px;
    width:120px;
    height:40px;
}
main{
    height:1000px;
   
}
main h1{
    margin-top: 60px;
    margin-left: 220px;
}
main p{
    margin-left: 220px;
}
.rec1{
    display:flex;
    justify-content: space-around;
    height:350px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
#sq1{
    background-color:aliceblue;
    height:350px;
    width:250px;
    border: 2px solid black;
    border-radius: 10px;
}
.join{
    height:40px;
    border-bottom: 2px solid black;
    text-align: center;
    margin-top: 20px;
}
.code{
    width:247px;
    height:150px;
    border-bottom: 2px solid black;
}

.middle{
    text-align: center;
    margin-bottom: 30px;
}
.btn{
     margin-left:110px ;
}
footer{
    text-align: center;
    height:200px;
    background-color: black;
    color: white;
    
}
